
<article>
    <div class="container C1">
        <div class="row R1">
            <div class="col-xs-9">
                <div id="carousel-id" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <a href=""><img width="100%" height="420" src="/Assets/image/PhamTruong.jpg"></a>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Ca sĩ Phạm Trưởng</h1>
                                    <p>Tuyển tập các ca khúc karaoke mới nhất của ca sĩ Phạm Trưởng</p>

                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <a href=""><img id="/Assets/imageMain" width="100%" height="420" src="/Assets/image/DuongHongLoan.jpg"></a>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1 id="ChangeCaption">Ca sĩ Dương Hồng Loan</h1>
                                    <p id="ChangeDescribe">Tuyển tập các ca khúc karaoke bolero trữ tình hay nhất của ca sĩ Dương Hồng Loan</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <a href=""><img width="100%" height="420" src="/Assets/image/ChiDan.jpg">	</a>
                            <div class="carousel-caption">
                                <h1>Ca sĩ Chi Dân</h1>
                                <p>Tuyển tập các ca khúc karaoke trẻ hay nhất của ca sĩ Chi Dân</p>

                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>


            </div><!-- end 9 col -->

            <div class="col-xs-3">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Format">
                        <a href=""><img class="img-responsive" src="/Assets/image/PopBallad.jpg" alt=""></a>
                        <h4 class="captionforCategory">Karaoke Nhạc Trẻ</h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Format">
                        <a href=""><img class="img-responsive" src="/Assets/image/QuocTe.jpg" alt=""></a>
                        <h4 class="captionforCategory">Karaoke Quốc Tế</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Format">
                        <a href=""><img class="img-responsive" src="/Assets/image/Bolero.jpg" alt=""></a>
                        <h4 class="captionforCategory">Karaoke Trữ Tình</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Format">
                        <a href=""><img class="img-responsive" src="/Assets/image/Dance.jpg" alt=""></a>
                        <h4 class="captionforCategory">Karaoke Remix</h4>
                    </div>
                </div>


            </div>
        </div><!-- end row 1 -->




        <br>
        <div class="row R2">
            <!-- slider carousel singer show -->
            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                    <div style="position:absolute;display:block;background:url('/Assets/image/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                </div>
                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1000px;height:150px;overflow:hidden;">
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/ChiDan.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/hongquyen.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/DuongHongLoan.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/LamBaoPhi.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/LamChanKhang.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/PhamTruong.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/trinhdinhquang.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/Hariwon.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/ngochan.jpg" /></a>
                    </div>

                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/luuchivy.jpg" /></a>
                    </div>
                    <div>
                        <a href=""><img data-u="/Assets/image" src="/Assets/image/hoviettrung.jpg" /></a>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">
                    <!-- bullet navigator item prototype -->
                    <div data-u="prototype" style="width:21px;height:21px;">
                        <div data-u="numbertemplate"></div>
                    </div>
                </div>
                <!-- Arrow Navigator -->
                <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:55px;height:55px;" data-autocenter="2"></span>
                <span data-u="arrowright" class="jssora03r" style="top:0px;right:8px;width:55px;height:55px;" data-autocenter="2"></span>
            </div>

            <!-- #endregion Jssor Slider End -->

        </div><!-- end row 2 -->

    </div>

</article>
