
<article>
    <div class="container C2">
        <div class="row R1">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 Playlist">
                <!-- //playlist -->
                <div class="row R1sub1">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3 class="DieuChinhTieuDe">PLAYLIST NHẠC HOT</h3>
                    </div>
                </div>
                <div class="row R1sub2">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Nhạc Trẻ</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Nhạc Trữ Tình</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">

                                <!-- phan nhac trẻ -->
                                <div style="border: solid #D9D9D9 1px;" class="row R1sub2_1">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                        <audio class="audioplayer" src="Mp3/baicakyniem.mp3" autobuffer autoloop controls preload></audio>

                                    </div>
                                    <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">

                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <marquee class="contentSong" style="padding-top: 7px;font-size: 15px" behavior="" direction="">Bài Ca Kỷ Niệm - Vũ Duy If Giáng Tiên</marquee>
                                    </div>

                                </div>
                                <div style="border: solid #D9D9D9 1px" class="row R1sub2_2">

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <p class="fa"><a class="firstsong" style="font-family: 'Lora'" href="Mp3/lamlaicuocdoi.mp3">Làm Lại Cuộc Đời</a></p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="fa fa-user"><a href="#" style="color:black"> Trịnh Đình Quang</a></p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <p class="fa fa-heart"> 8,999,133</p>
                                    </div>
                                </div>
                                <div style="border: solid #D9D9D9 1px" class="row R1sub2_3">

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <p class="fa"><a class="secondsong" style="font-family: 'Lora'" href="Mp3/chotnhanra.mp3">Chợt Nhận Ra</a></p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="fa fa-user"><a href="#" style="color:black"> Du Thiên if Châu Khải Phong</a></p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <p class="fa fa-heart"> 3,141,121</p>
                                    </div>
                                </div>
                                <div style="border: solid #D9D9D9 1px" class="row R1sub2_4">

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <p class="fa"><a class="thirdsong" style="font-family: 'Lora'" href="Mp3/phiasaumotcogai.mp3">Phía Sau Một Cô Gái</a></p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="fa fa-user"><a href="#" style="color:black"> Soobin Hoàng Sơn</a></p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <p class="fa fa-heart"> 58,411,342</p>
                                    </div>
                                </div>
                                <div style="border: solid #D9D9D9 1px" class="row R1sub2_5">

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <p class="fa"><a class="foursong" style="font-family: 'Lora'" href="Mp3/thegioiaotinhyeuthat.mp3">Thế Giới Ảo Tình Yêu Thật</a></p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="fa fa-user"><a href="#" style="color:black"> Trịnh Đình Quang</a></p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <p class="fa fa-heart"> 18,689,342</p>
                                    </div>
                                </div>

                                <div style="border: solid #D9D9D9 1px" class="row R1sub2_6">

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <p class="fa"><a class="fivesong" style="font-family: 'Lora'" href="Mp3/dieuanhbiet.mp3">Điều Anh Biết</a></p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="fa fa-user"><a href="#" style="color:black"> Chi Dân</a></p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <p class="fa fa-heart"> 68,411,342</p>
                                    </div>
                                </div>
                                <div style="border: solid #D9D9D9 1px" class="row R1sub2_7">

                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <p class="fa"><a class="sixsong" style="font-family: 'Lora'" href="Mp3/thattinh.mp3">Thất Tình</a></p>
                                    </div>
                                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <p class="fa fa-user"><a href="#" style="color:black"> Trịnh Đình Quang</a></p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                        <p class="fa fa-heart"> 18,114,132</p>
                                    </div>
                                </div>




                            </div><!-- end tab nhac tre -->
                            <!-- phan nhac tru tinh -->
                            <div role="tabpanel" class="tab-pane" id="tab">




                            </div><!-- end tab nhac tru tinh -->
                        </div><!-- end tab content -->
                    </div><!-- end tab -->
                </div><!-- end rowsub -->
            </div><!-- end playlist -->



            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

            </div><!-- khoang giua bo -->

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 Top10">
                <!-- Top 10 -->
                <div class="row">
                    <h3 class="DieuChinhTieuDe">TOP 10 KARAOKE</h3>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>

</article>
