
<article>
    <!-- karaoke mơi nhất -->
    <div class="container C5">

        <div class="row R1">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3 class="DieuChinhTieuDe">TUYỂN TẬP KARAOKE MỚI NHẤT</h3>
            </div>

        </div>
        <div class="row R2">
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H1.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Yêu Như Đúng Rồi</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Karik
                            </p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H9.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">On Rainny Day</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Tiên Cookie
                            </p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H3.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Đứng Sau Một Tình Yêu</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Mai Phương Vy - Bi Nguyễn
                            </p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H10.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Phía Sau Một Cô Gái</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Soobin Hoàng Sơn
                            </p>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row R3">
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H4.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Người Phu Kéo Mo Cau</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Trường Sơn
                            </p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H6.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Tâm Sự Cùng Người Lạ</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Tiên Cookie
                            </p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H7.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Thất Tình</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Trịnh Đình Quang
                            </p>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="thumbnail">
                    <a href="#"><img class="img-responsive" src="/Assets/image/H11.jpg" alt=""></a>
                    <div class="caption">
                        <a href="#"><h4 class="text-center">Nơi Này Có Anh</h4></a>
                        <a href="#">
                            <p class="text-center FormatCaSi">
                                Sơn Tùng MTP
                            </p>
                        </a>

                    </div>
                </div>
            </div>
        </div>


    </div>


</article>
